/*Config para desktops*/

@media screen and (min-width: 768px) {
    main{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .ficha{
        grid-row: 1 / 1;
        grid-column: 2 / 3;
        position: fixed;
        left: 1.5%;
        width: 250px;
        height: 620px;
        display: flex;
    }

    .detalhes{
        margin-left: -35px;
        grid-row: 1 / 2;
        grid-column: 3 / 5;
    }

    .detalhes section{
        width: 140%;
    }

    .ajustes{
        padding-left: 10px;
        padding-right: -10px;
    }

    .ajustes h3{
        font-size: 0.9em;
    }

    .ajustes p{
        font-size: 0.9em;
    }

    progress{
        width: 100%;
    }

    .invert{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .invert li{
        margin-right: 15px;
    }

    .alterar h2{
        margin-top: -7px;
    }

    .container-projetos{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .img-projetos{
        aspect-ratio: 1 / 1;
        height: 180px;
    }

    .img-projetos img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: flex-start;
    }

    .form-list div{
        padding: 10px;
    }

}