/*Config para desktops*/

@media screen and (min-width: 768px) {
    main{
        grid-template-rows: 1fr;
        grid-template-columns: 24px 240px 1fr 1fr 24px;
    }

    section{
        padding: 10px;
    }

    .home{
        display: none;
    }

    .ficha{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: grid;
        position: sticky;
        top: 44px;
        width: 240px;
    }

    .ficha article{
        position: sticky;
        top: 44px;
        align-self: self-start;
    }

    .detalhes{
        grid-row: 1 / 1;
        grid-column: 3 / 5;
        margin-left: 20px;
    }

    .detalhes section{
        width: 100%;
        padding: 13px;
    }

    .ajustes{
        padding-left: 10px;
        padding-right: -10px;
    }

    .ajustes p{
        font-size: 0.9em;
    }

    progress{
        width: 100%;
    }

    .invert{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .invert li{
        margin-right: 15px;
    }

    .invert h3{
        font-size: 0.9em;
    }

    .alterar h2{
        margin-top: -7px;
    }

    .container-projetos{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .img-projetos{
        aspect-ratio: 9 / 16;
        height: 150px;
    }

    .img-projetos img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: flex-start;
    }

    .form-list div{
        padding: 10px;
    }

}