/*Config mobile first*/

:root{
    --cor-principal: #0077FF;
    --cor-secundaria: #66BBFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
   height: 100vh;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(211, 211, 211, 0.336);
}

header{
    background-color: var(--cor-principal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

header nav ul li{
    margin-right: 15px;
}

.cabecalho{
    color: white;
    padding: 10px;
    transition: 0.4s;
    border-radius: 5px;
}

.cabecalho:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

main{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 24px 4fr 24px;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
}

section{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    scroll-margin-top: 80px;
}

.ficha{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.ficha article h1{
    color: var(--cor-principal);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ficha article p{
    font-size: 1em;
    margin-bottom: 15px;
}

.perfil{
    width: 210px; height: 210px; border-radius: 50%;
    border: 5px solid var(--cor-principal);
    padding: 5px;
    display: block;
    margin: 15px auto;
}

.redes{
    text-align: center;
}

i{
    font-size: 1.8em;
    color: var(--cor-principal);
    margin-right: 10px;
    transition: 0.3s;
}

i:hover{
    transform: scale(1.1);
    color: #66BBFF;
}

.detalhes{
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

.detalhes ul{
    list-style: none;
}

.title-sections{
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-right: auto;
}

.title-sections h2{
    margin-left: 5px;
    color: var(--cor-principal);
    font-size: 1.7em;
    margin-top: -5px;
}

.icons-title{
    margin-top: -7px;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: var(--cor-principal);  
}

.section-skills{
    display: flex;
    margin-bottom: 5px;
}

.section-skills > p{
    margin-left: auto;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1em;
}

.section-skills h3{
    font-size: 1em;
    margin-left: 7px;
    margin-top: 3px;
}

progress{
    width: 100%;
    height: 10px;
    appearance: none;
    margin-bottom: 20px;
}

.alterar h2{
    margin-left: 12px;
    margin-top: -13px;
}

.form-list{
    padding: 10px;
}

.form-list div:hover{
    transform: translateX(15px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.form-list li:hover{
    background-color: var(--cor-principal);
}

.form-list li{
    background-color: var(--cor-secundaria);
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-list p{
    font-size: 0.9em;
}

.title-form{
    font-weight: bold;
    font-size: 0.9em;
}

.form-list h3{
    color: var(--cor-secundaria);
    margin-top: 3px;
    margin-bottom: 3px;
    
}

.form-list div{
    background-color: #f5f5f5;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.alteracao-form{
    padding: 0px;
}

.alteracao-form img{
    margin-bottom: 10px;
    border-radius: 10px;
}

progress::-webkit-progress-value{
  background-color: var(--cor-secundaria);
  border-radius: 10px;
}

progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.571);
}

.img-projetos{
    text-align: center;
}

.section-projetos img{
    width: 100%;
    height: auto;
}

footer{
    padding: 13px;
    text-align: center;
    background-color: var(--cor-principal);
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.5s;
}

footer a:hover{
    transform: scale(1.1);
}