/*Config mobile first*/

:root{
    --cor-principal: #0077FF;
    --cor-secundaria: #66BBFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
   height: 100vh;
   width: 100vw;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(211, 211, 211, 0.336);
}

header{
    background-color: var(--cor-principal);
    margin-bottom: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

header nav ul li{
    margin-right: 20px;
}

.cabecalho{
    color: white;
    padding: 10px;
    transition: 0.4s;
    border-radius: 5px;
}

.cabecalho:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

main{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}

section{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.ficha{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.ficha article h1{
    color: var(--cor-principal);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ficha article p{
    font-size: 1em;
    margin-bottom: 15px;
}

.perfil{
    width: 210px; height: 210px; border-radius: 50%;
    border: 5px solid var(--cor-principal);
    padding: 5px;
    display: block;
    margin: 15px auto;
}

.redes{
    text-align: center;
}

.icons{
    fill: var(--cor-principal);
    width: 40px;
    height: 30px;
}

.detalhes{
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

.detalhes ul{
    list-style: none;
}

.title-skills{
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
}

.title-skills h2{
    margin-left: 5px;
    color: var(--cor-principal);
}

.icons-title{
    margin-top: -7px;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: var(--cor-principal);  
}

.section-skills{
    display: flex;
    margin-bottom: -6px;
}

.section-skills h3{
    margin-left: 5px
}

.section-skills > p{
    margin-left: auto;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.2em;
}

progress{
    width: 100%;
    height: 10px;
    appearance: none;
}

progress::-webkit-progress-value{
  background-color: var(--cor-secundaria);
  border-radius: 10px;
}

progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.571);
}


.section-projetos img{
    width: 375px;
    height: 211px;
}