/*Config para telas grandes*/

@media screen and (min-width: 1024px) {
    .img-projetos{
        aspect-ratio: 1 / 1;
        height: 190px;
    }

    .img-projetos img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.4s;
    }
}